<h1>Listing posts</h1>
<h2> Search </h2>

<%= form_tag search_posts_path, method: :get do %>
  <p>
    <%= text_field_tag :q ,nil,  size: 30, placeholder: "Search For" %>
  </p>
  <p>
    <%= submit_tag "Search_dat" %>
  </p>
<%end%>
<!-- the above can be a partial and then passed into for the index.html or any pages you want to add in the partial to.  -->


<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>String</th>
      <th>Body</th>
      <th>Published at</th>
      <th>Time</th>
      <th>Draft status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @posts.empty? %>
    <td class="no post"> "No Posts" </td>
    <%else%>
    <% @posts.each do |post| %>
      <tr>
        <td class="subject"><%= post.subject %></td>
        <td class="string"><%= post.string %></td>
        <td class= "body"><%= post.body %></td>
        <td class= "published_at"><%= post.published_at %></td>
        <td class= "post_time"><%= post.time %></td>
        <td class="draft_status"><%= post.draft_status %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %> <br>
<%= link_to 'Create a User here ', new_user_path %> <br>
<%= link_to 'Users table', users_path %>

